#ajax-success {
  display: none;
}

.success{

	border: 2px solid #009400;
	background: #B3FFB3;
	color: #555;
	font-weight: bold;

}

.error{

	border: 2px solid #DE001A;
	background: #FFA8B3;
	color: #000;
	font-weight: bold;
}
